@import url(reset.css);
@import url(common.css);
@import url(normalize.css);
body{
  background-color: #2e2e2e;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  font-size: 20px;
  color: #fff;
  padding-right: 20%;
}
nav ul li a{
  text-decoration: none;
}
.kv{
  width: 100%;
  height: 937px;
  background: url('../images/bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.kv__title{
  font-size: 4.3rem;
  color: #fff;
  line-height: 6rem;
  margin-top: 40%;
}

.kv__title span{
  background: #FFB440;
  padding: 5px 10px;
  color: #2e2e2e;
}

.kv__main-img{
  position: relative;
}
.kv__main-img img{
  width: 120%;
  position: absolute;
  top: 300px;

}

.kv-btn{
  background: none;
  color: #FFB440;
  width: 50%;
  height: 50px;
  border: 1px solid #FFB440;
  margin-top: 130px;
  font-size: 20px;
}

/* 1024px 이하 */
@media (max-width: 1024px) {
  nav ul {
      padding-right: 10%;
  }
  .kv{
    width: 100%;
    height: 656px;
  }
  .kv__title {
      font-size: 36px;
      line-height: 1.6;
  }
  .mainNum{
    width: 40px;
    height: 128px;
  }

  .kv__main-img img {
      top: 250px;
      width: 504px;
      height: 278px;
  }

  .kv-btn {
      width: 142px;
      height: 35px;
      font-size: 18px;
  }
}

/*768px 이하*/
@media (max-width: 768px) {
  nav ul {
      font-size: 16px;
  }
  .logo{
    width: 50px;
    height: 20px;
  }
  .kv{
    width: 100%;
    height: 482px;
  }
  .kv__title {
      font-size: 34px;
      line-height: 1.6;
      margin-top: 60px;
  }
  .mainNum{
    width: 27px;
    height: 89px;
  }

  .kv__main-img img {
      width: 384px;
      height: 213px;
      position: absolute;
      top: -100px;
      right: 70px;
  }

  .kv-btn {
      width: 110px;
      height: 27px;
      margin-top: 40px;
  }
}

/* 540px 이하 */
@media (max-width: 540px) {
  nav {
      flex-direction: row;
      align-items: center;
  }
  .logo{
    width: 30px;
    height: 10px;
  }
  nav ul {
      flex-direction: row;
      padding-right: 0;
      font-size: 11px;
  }
  .kv{
    width: 100%;
    height: 383px;
  }

  .kv__title {
      font-size: 25px;
      line-height: 1.4;
      margin-top: 15%;
  }

  .kv__main-img img {
      top: -150px;
      right: 40px;
      width: 302px;
      height: 170px;
  }

  .kv-btn {
      width: 120px;
      height: 20px;
      font-size: 18px;
      margin-top: 50px;
  }
}


/*sec01 end*/

/*sec02*/
.sec02{
  width: 100%;
  height: 700px;
}
.container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 80px;
}
.content-1{
  width: 700px;
  height: 130px;
  background-color: #E4E4E4;
}
.content-1 h3{
  font-size: 28px;
}
.content-1 p{
  font-size: 20px;
}
.content-2{
  width: 700px;
  height: 130px;
  background-color: #FFC872;
}
.content-2 h3{
  font-size: 28px;
}
.content-2 p{
  font-size: 20px;
}
@media(max-width: 1024px){
  .container2 {
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 610px;
  }
  .content-1{
    width: 100%;
    height: 130px;
    text-align: center;
    margin: auto;
  }
  .content-2{
    width: 100%;
    height: 130px;
    text-align: center;
    margin: auto;
  }
  .content-2 h3{
    font-size: 32px;
  }
  .content-1 h3{
    font-size: 32px;
  }
  .content-2 p{
    font-size: 24px;
    margin: auto;
    margin-bottom: 20px;
  }
  .content-1 p{
    font-size: 24px;
    margin: auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px){
  .container2 {
    flex-direction: column;
    align-items: center;
    width: 570px;
    height: 534px;
  }
  .content-1{
    width: 100%;
    height: 115px;
    text-align: center;
    margin: auto;
  }
  .content-2{
    width: 100%;
    height: 115px;
    text-align: center;
    margin: auto;
  }
  .content-2 h3{
    font-size: 24px;
  }
  .content-1 h3{
    font-size: 24px;
  }
  .content-2 p{
    font-size: 20px;
    margin: auto;
    margin-bottom: 20px;
  }
  .content-1 p{
    font-size: 20px;
    margin: auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 540px){
  .container2 {
    flex-direction: column;
    align-items: center;
    width: 510px;
    height: 500px;
  }
  .content-1{
    width: 100%;
    height: 110px;
    text-align: center;
    margin: auto;
  }
  .content-2{
    width: 100%;
    height: 110px;
    text-align: center;
    margin: auto;
  }
  .content-2 h3{
    font-size: 20px;
  }
  .content-1 h3{
    font-size: 20px;
  }
  .content-2 p{
    font-size: 16px;
    margin: auto;
    margin-bottom: 20px;
  }
  .content-1 p{
    font-size: 16px;
    margin: auto;
    margin-bottom: 20px;
  }
}
/*sec02 end*/

/*sec03*/
.sec03{
  width: 100%;
  height: 800px;
}.container3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-3{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.column-5{
  display: flex;
  justify-content: center;
}
.free{
  text-align: center;
}
.free h3{
  font-size: 40px;
  color: #FFB440;
}
.free p{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.star{
  width: 595px;
  height: 559px;
}
.content3{
  width: 595px;
  height: 559px;
  background: #434343;
}
.text{
  width: 580px;
  height: 100px;
  background-color: #E4E4E4;
}
.text p{
  font-size: 30px;
  padding: 25px;
}
.btn-3{
  width: 580px;
  height: 80px;
  background-color: #FFC872;
  font-size: 24px;
  font-weight: 600;
}
input{
  width: 17px;
  height: 17px;
}
label{
  font-size: 15px;
  color: #fff;
}
form{
  padding: 10px;
}
@media (max-width: 1024px){
  .container3{
    width: 923px;
    height: 627px;
  }
  .free h3{
    font-size: 40px;
  }
  .free p{
    font-size: 20px;
  }
  .star{
    width: 431px;
    height: 405px;
  }
  .content03{
    width: 450px;
    height: 436px;
  }
  .text{
    width: 418px;
    height: 77px;
    margin-bottom: 5px;
  }
  .text p{
    font-size: 24px;
  }
  input{
    width: 15px;
    height: 15px;
  }
  label {
    font-size: 15px;
  }
  .btn-3{
    width: 418px;
    height: 54px;
    font-size: 16px;
  }
}
@media (max-width: 768px){
  .container3{
    width: 694px;
    height: 548px;
  }
  .free h3{
    font-size: 32px;
  }
  .free p{
    font-size: 16px;
  }
  .star{
    width: 309px;
    height: 290px;
  }
  .content03{
    width: 336px;
    height: 381px;
  }
  .text{
    width: 312px;
    height: 60px;
  }
  .text p{
    font-size: 16px;
    padding-top: 20px;
  }
  input{
    width: 15px;
    height: 15px;
  }
  label {
    font-size: 15px;
  }
  .btn-3{
    width: 312px;
    height: 47px;
    font-size: 15px;
  }
}
@media (max-width: 540px){
  .sec03{
    width: 100%;
    height: 800px;
  }
  .container3{
  width: 298px;
  height: 643px;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.free h3{
  font-size: 24px;
}
.free p{
  font-size: 13px;
}
.content-3 {
    flex-direction: column;
    align-items: center;
}

.star {
    width: 100%;
    max-width: 300px;
    height: 223px;
}

.content3 {
    width: 100%;
    max-width: 300px;
    height: 308px;
}

.text {
    width: 271px;
    max-width: 300px;
    height: 55px;
}

.text p {
    font-size: 14px;
}

.btn-3 {
    width: 271px;
    height: 34px;
    max-width: 300px;
    font-size: 14px;
}

input {
    width: 12px;
    height: 12px;
}

label {
    font-size: 12px;
}
}
/*sec03 end*/

/*sec04*/
.sec04{
  width: 100%;
  height: 900px;
}
.container4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-4{
  padding-left: -10%;
  
}
.title4{
  display: flex;
}
.title4 h3{
  color: #BCBCBC;
  font-size: 40px;
}
.title4 span{
  color: #FFB440;
}
.text-4-1{
  width: 400px;
  height: 210px;
  background-color: #FFC872;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding: 35px;
  margin-top: 20px;
  border-radius: 10px;
}
.row-6{
  padding-left: 300px;
}
.niro-EV{
  width: 727px;
  height: 413px;
}
.text-4-2{
  font-size: 30px;
  text-align: center;
  margin: auto;
  color: #E2E2E2;
  font-weight: 500;
}
.text-4-2 span{
  color: #FFB440;
  font-weight: 600;
}
@media (max-width: 1024px){
  .container4{
    width: 930px;
    height: 765px;
  }
  .title4{
    font-size: 40px;
  }
  .text-4-1{
    width: 411px;
    height: 181px;
  }
  .text-4-1 p{
    font-size: 32px;
    text-align: center;
    margin: auto;
  }
  .niro-EV{
    width: 753px;
    height: 390px;
  }
  .text-4-2{
    font-size: 32px;
  }
}
@media (max-width: 768px){
  .container4{
    width: 682px;
    height: 564px;
  }
  .title4{
    font-size: 32px;
  }
  .text-4-1{
    width: 301px;
    height: 122px;
  }
  .text-4-1 p{
    font-size: 24px;
    text-align: center;
    margin: auto;
    margin-top: -5px;
  }
  .niro-EV{
    width: 491px;
    height: 255px;
  }
  .text-4-2{
    font-size: 24px;
  }
}
@media (max-width: 540px){
  .container4{
    width: 510px;
    height: 485px;
  }
  .title4{
    font-size: 20px;
  }
  .text-4-1{
    width: 225px;
    height: 114px;
  }
  .text-4-1 p{
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-top: -5px;
  }
  .niro-EV{
    width: 388px;
    height: 232px;
  }
  .text-4-2{
    font-size: 20px;
  }
}
/*sec04 end*/

/*sec05*/
.sec05{
  background-image: url('../images/rode.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.container5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title5 h3{
  font-size: 40px;
  color: #BCBCBC;
}
.title5 span{
  color: #FFB440;
}
.box5{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.text_5-1{
  width: 216px;
  height: 68px;
  background-color: #E4E4E4;
  border-radius: 50px;
  margin: 10px auto;
}
.text_5-1 p{
  font-size: 24px;
  text-align: center;
  line-height: 1.0;
  
}
.text_5-2{
  width: 216px;
  height: 68px;
  background-color: #FFC872;
  border-radius: 50px;
  margin: auto;
}
.text_5-2 p{
  font-size: 24px;
  text-align: center;
  line-height: 1.0;
}
.ev3{
  margin: auto;
}
.text_5-3{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 530px;
  height: 129px;
  background-color: #FFC872;
}
.text_5-3 p{
  font-size: 24px;
  font-weight: 600;
  color: #2e2e2e;
  text-align: center;
  margin: auto;
}
@media (max-width: 1024px){
  .container5{
    width: 930px;
    height: 838px;
  }
  .title5{
    font-size: 40px;
  }
  .box5{
    width: 659px;
    height: 68px;
  }
  .text_5-1{
    width: 160px;
    height: 68px;
  }
  .text_5-2{
    width: 160px;
    height: 68px;
  }
  .text_5-1 p{
    font-size: 24px;
  }
  .text_5-2 p{
    font-size: 24px;
  }
  .img{
    width: 930px;
    height: 667px;
    margin: auto;
  }
  .ev3{
    width: 556px;
    height: 419px;
    margin: auto;
  }
  .text_5-3{
    width: 428px;
    height: 129px;
  }
  .text_5-3 p{
    font-size: 24px;
  }
}
@media (max-width: 768px){
  .container5{
    width: 672px;
    height: 663px;
  }
  .title5{
    font-size: 32px;
  }
  .box5{
    width: 476px;
    height: 53px;
  }
  .text_5-1{
    width: 116px;
    height: 53px;
  }
  .text_5-2{
    width: 116px;
    height: 53px;
  }
  .text_5-1 p{
    font-size: 20px;
  }
  .text_5-2 p{
    font-size: 20px;
  }
  .img{
    width: 672px;
    height: 527px;
    margin: auto;
  }
  .ev3{
    width: 385px;
    height: 313px;
    margin: auto;
  }
  .text_5-3{
    width: 309px;
    height: 102px;
  }
  .text_5-3 p{
    font-size: 20px;
  }
}
@media (max-width: 540px){
  .container5{
    width: 507px;
    height: 558px;
  }
  .title5{
    font-size: 20px;
  }
  .box5{
    width: 359px;
    height: 45px;
  }
  .text_5-1{
    width: 87px;
    height: 45px;
  }
  .text_5-2{
    width: 87px;
    height: 45px;
  }
  .text_5-1 p{
    font-size: 16px;
  }
  .text_5-2 p{
    font-size: 16px;
  }
  .img{
    width: 407px;
    height: 444px;
    margin: auto;
  }
  .ev3{
    width: 325px;
    height: 252px;
    margin: auto;
  }
  .text_5-3{
    width: 233px;
    height: 85px;
  }
  .text_5-3 p{
    font-size: 16px;
  }
}
/*sec05 end*/
/*sec06*/
.sec06{
  width: 100%;
  height: 900px;
}
.title6 h3{
  font-size: 40px;
  color: #BCBCBC;
}
.title6 span{
  color: #FFB440;
}
.bg-6{
  background-image: url('../images/bg-6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
  
}
.box6{
  width: 360px;
  height: 103px;
  background-color: #FFC872;
  margin: auto;
  margin-right: 20%;
}
.box6 p{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 3;
}
.content6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  margin-top: 20%;
}
.content6 p{
  font-size: 32px;
  color: #D9D9D9;
}
.content6 span{
  color: #FFB440;
}
.content6-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.text_6-1{
  width: 200px;
  height: 61px;
  background-color: #FFC872;
  border-radius: 50px;
  
}
.text_6-1 p{
  font-size: 24px;
  text-align: center;
  line-height: 0.5;
  color: #2e2e2e;
}
.text_6-2{
  width: 200px;
  height: 61px;
  background-color: #D9D9D9;
  border-radius: 50px;
}
.text_6-2 p{
  font-size: 24px;
  text-align: center;
  line-height: 0.5;
  color: #2e2e2e;
}
.text_6-3{
  font-size: 24px;
  text-align: center;
  color: #D9D9D9;
  font-weight: 600;
}

@media (max-width: 1024px){
  .container6{
    width: 930px;
    height: 707px;
  }
  .title6{
    font-size: 40px;
  }
  .bg-6{
    width: 930px;
    height: 620px;
  }
  .box6{
    width: 267px;
    height: 81px;
  }
  .box6 p{
    font-size: 24px;
  }
  .content6{
    font-size: 32px;
  }
  .content6-1{
    width: 675px;
    height: 48px;
  }
  .text_6-1 {
    width: 172px;
    height: 48px;
  }
  .text_6-2 {
    width: 172px;
    height: 48px;
  }
  .text_6-1 p{
    font-size: 24px;
    font-weight: 500;
  }
  .text_6-2 p{
    font-size: 24px;
    font-weight: 500;
  }
  .text_6-3{
    font-size: 24px;
    font-weight: 500;
  }
}
@media (max-width: 768px){
  .container6{
    width: 690px;
    height: 525px;
  }
  .title6{
    font-size: 32px;
  }
  .bg-6{
    width: 690px;
    height: 416px;
  }
  .box6{
    width: 198px;
    height: 60px;
  }
  .box6 p{
    font-size: 20px;
  }
  .content6{
    font-size: 24px;
  }
  .content6-1{
    width: 499px;
    height: 35px;
  }
  .text_6-1 {
    width: 127px;
    height: 35px;
  }
  .text_6-2 {
    width: 127px;
    height: 35px;
  }
  .text_6-1 p{
    font-size: 20px;
    font-weight: 500;
  }
  .text_6-2 p{
    font-size: 20px;
    font-weight: 500;
  }
  .text_6-3{
    font-size: 20px;
    font-weight: 500;
  }
}
@media (max-width: 540px){
  .container6{
    width: 508px;
    height: 386px;
  }
  .title6{
    font-size: 24px;
  }
  .bg-6{
    width: 508px;
    height: 339px;
  }
  .box6{
    width: 146px;
    height: 44px;
  }
  .box6 p{
    font-size: 16px;
  }
  .content6{
    font-size: 20px;
  }
  .content6-1{
    width: 400px;
    height: 26px;
  }
  .text_6-1 {
    width: 94px;
    height: 26px;
  }
  .text_6-2 {
    width: 94px;
    height: 26px;
  }
  .text_6-1 p{
    font-size: 16px;
    font-weight: 500;
  }
  .text_6-2 p{
    font-size: 16px;
    font-weight: 500;
  }
  .text_6-3{
    font-size: 16px;
    font-weight: 500;
  }
}
/*sec06 end*/
/*sec07*/
.img{
  background-image: url('../images/bg_7.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
}
.box7_1{
  text-align: right;
  font-size: 40px;
  font-weight: 600;
  margin-right: 30%;
}
.text-7_1 span{
  color: #FFB440;
}
.box7_2{
  text-align: center;
  width: 1000px;
  height: 250px;
  background-color: #FFC872;
  margin-left: 23%;
  margin-top: 20%;
}
.text-7_2{
  font-size: 36px;
  padding-top: 3%;
}
.text-7_2 span{
  font-weight: 600;
}

@media (max-width: 1024px){
  .img{
    width: 930px;
    height: 561px;
  }
  .text-7_1{
    font-size: 32px;
    font-weight: 500;
  }
  .box7_2{
    width: 594px;
    height: 158px;
    margin: auto;
    margin-top: 180px;
  }
  .text-7_2 {
    font-size: 24px;
  }
}
@media (max-width: 768px){
  .container7{
    margin-top: -40%;
  }
  .img{
    width: 690px;
    height: 416px;
  }
  .box7_1{
    margin-right: 19%;
  }
  .text-7_1{
    font-size: 24px;
    font-weight: 500;
  }
  .box7_2{
    width: 441px;
    height: 117px;
    margin: auto;
    margin-top: 150px;
  }
  .text-7_2 {
    font-size: 20px;
  }
}
@media (max-width: 540px){
  .img{
    width: 508px;
    height: 339px;
  }
  .box7_1{
    margin-right: 19%;
  }
  .text-7_1{
    font-size: 20px;
    font-weight: 500;
  }
  .box7_2{
    width: 302px;
    height: 95px;
    margin: auto;
    margin-top: 120px;
  }
  .text-7_2 {
    font-size: 16px;
  }
}
/*sec07 end*/

/*sec08*/
.sec08{
  width: 100%;
  height: 900px;
}
.title8{
  font-size: 40px;
  text-align: center;
  color: #dedede;
  margin-top: 10%;
}
.title8 span{
  color: #FFB440;
}
.text-8{
  text-align: right;
  margin-right: 20%;
  color: #ccc;
  font-size: 20px;
}
.content8{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.box-8{
  width: 382px;
  height: 405px;
  background-color: #3d3d3d;
}
.img-8{
  width: 315px;
  height: 220px;
  margin: auto;
}
.text_8 p{
  font-size: 20px;
  color: #e8e8e8;
  margin-top: 20%;
  padding-left: 10%;
}


@media (max-width: 1024px){}
  
@media (max-width: 768px){

}
@media (max-width: 540px){

}
/*sec08 end*/

/*sec09*/
.sec09{
  width: 100%;
  height: 900px;
}
.container9{
  margin-bottom: 10%;
}
.title9{
  text-align: center;
  font-size: 40px;
  color: #d9d9d9;
}
.title9 span{
  color: #FFB440;
}
.content9{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box-9_2{
  position: relative;
  z-index: 1;
  left: -7%;
  top: 20px;
  width: 441px;
  height: 330px;
  background-color: #D7D7D7;
}
.box-9_3{
  position: relative;
  z-index: 1;
  right: -7%;
  top: 20px;
  width: 441px;
  height: 330px;
  background-color: #D7D7D7;
}
.box-9_1{
  position: absolute;
  z-index: 2;
  width: 441px;
  height: 330px;
  background-color: #FFC872;
}
.icon{
  display: flex;
  flex-direction: row;
  margin-left: 2%;
}
.icon i{
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50px;
  font-size: 34px;
  margin-top: 10px;
  padding-left: 18px;
  line-height: 2.1;
}
.icon p{
  font-size: 20px;
}
.text-9{
  width: 384px;
  height: 191px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  margin: auto;
  margin-top: 0%;
}

@media (max-width: 1024px){
  
}
@media (max-width: 768px){

}
@media (max-width: 540px){

}
/*sec09 end*/

/*footer*/
.container10{
  width: 100%;
  height: 439px;
  background-color: #515151;
}
.content10{
  padding-left: 20%;
  padding-top: 3%;
}
.content10 p{
  text-align: left;
  margin: 20px auto;
  font-size: 20px;
  color: #fff;
}

@media (max-width: 1024px){
  
}
@media (max-width: 768px){

}
@media (max-width: 540px){

}
/*footer end*/